<!-- <% if(current==='checkout' || current==='orderFinished' ){ %> hidden <%} %> -->
<div class="container pt-10" <%= current !== 'index' ? 'hidden' : 'true' -%> ">
  <p class="text-h1 sm:text-display02 font-black w-3/4 sm:w-full mb-10">透過<br>AI工具王的<br>強大模型<br>讓您的業務更聰明</p>
  <button type="button" class="h6 py-5 px-10 border border-white rounded-2xl mb-45 sm:mb-25">開始使用</button>
  <div class="flex justify-end overflow-y-hidden">
    <img id="ani-box1" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023web-camp/deco.png?raw=true"
      class="h-[117px] sm:h-[180px] ani-box1" alt="icon">
    <img id="ani-box2" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023web-camp/deco.png?raw=true"
      class="h-[117px] sm:h-[180px] ani-box2" alt="icon">
    <img id="ani-box3" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023web-camp/deco.png?raw=true"
      class="h-[117px] sm:h-[180px] ani-box3" alt="icon">
  </div>
</div>