<div class="container pt-10" <%= current !== 'index' ? 'true' : 'hidden' -%> ">
  <p class="text-h1 sm:text-display02 font-black w-3/4 sm:w-full mb-10 sm:mb-20 opacity-1">用多少，<br> 付多少。</p>
  <div class="flex">
    <p class="w-3/4 ml-auto text-h4 sm:text-h1 font-black mb-[258px] sm:mb-[238px]">我們相信，最靈活的取用機<br
        class="sm:hidden">制，才能最大化的幫助你業務的推動。</p>
  </div>
  <div class="flex overflow-y-hidden">
    <img id="ani-box1" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023web-camp/deco.png?raw=true"
      class="h-[117px] sm:h-[180px] ani-box1" alt="icon">
    <img id="ani-box2" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023web-camp/deco.png?raw=true"
      class="h-[117px] sm:h-[180px] ani-box2" alt="icon">
    <img id="ani-box3" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023web-camp/deco.png?raw=true"
      class="h-[117px] sm:h-[180px] ani-box3" alt="icon">
  </div>
</div>